/* Sorting */
th.table-sortable {
	cursor:pointer;
	background-image:url("icons/sortable.gif");
	background-position:center left;
	background-repeat:no-repeat;
	padding-left:12px;
}
th.table-sorted-asc {
	background-image:url("icons/sorted_up.gif");
	background-position:center left;
	background-repeat:no-repeat;
	padding-left:12px;
}
th.table-sorted-desc {
	background-image:url("icons/sorted_down.gif");
	background-position:center left;
	background-repeat:no-repeat;
	padding-left:12px;
}