 /*一个tag单元容器*/
        .ciba_tag
        {
            width: 500px;
            color: #333;
            font: 12px/1.5 verdana;
        }
        /*所有内容的容器*/
        .ciba_body
        {
            border: 1px solid #c8c8c8;
            height: 120px;
            padding: 10px;
        }
        /*为导航清除浮动*/
        .ciba_clear
        {
            clear: both;
        }
        /*为UL与LI重设样式*/
        .cibatag_nav, .cibatag_nav li
        {
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 12px;
        }
        /*UL浮动以包裹浮动的LI*/
        .cibatag_nav
        {
            float: left;
            display: inline;
        }
        /*LI按钮的样式*/
        .cibatag_nav li
        {
            float: left;
            margin-right: 3px;
            padding: 0 12px;
            height: 24px;
            line-height: 24px;
            display: inline;
            border: 1px solid #c8c8c8;
            background: #fff  no-repeat 1px 0;
            position: relative;
            border-bottom: none;
            margin-top: 2px;
            color: #999;
            cursor: pointer;
        }
        /*焦点样式*/
        .cibatag_nav li.hot
        {
            background: #fff;
            height: 25px;
            margin-top: 0px;
            bottom: -2px;
            cursor: default;
            color: #333;
        }