<div class="span2">
  <ul class="nav nav-list">
   <for each="thisClass" in="data">
	{!
		if (thisClass.alias == "_global_") {
			<!--output += "<i>"+new Link().toClass(thisClass.alias)+"</i>";-->
		}
        else if(thisClass.alias == "event") {
			output +="<li class='"+thisClass.alias+"'>"+ "<a href='../symbols/"+thisClass.alias+".html' class='"+thisClass.alias+"'>事件处理</a></li>";
		}
		else {
			output +="<li class='"+thisClass.alias+"'>"+ new Link().toClass(thisClass.alias)+"</li>";
		}
	!}
	</for>
  </ul>
</div>